<app-header></app-header>

<section class="container">
    <h2>Calificaciones</h2>
    <article class="d-flex justify-content-between align-items-center">
        <mat-form-field appearance="outline">
            <mat-label>Buscar Estudiante</mat-label>
            <input matInput placeholder="Ej: Samuel" [(ngModel)]="campoFiltro" (keyup)="filtrado()">
            <mat-icon matSuffix>search</mat-icon>
            <!-- <mat-hint>Ej: Samuel</mat-hint> -->
        </mat-form-field>
        <div class="gap">
            <button mat-stroked-button color="primary">Exportar</button>
            <button mat-raised-button color="primary">Guardar</button>
        </div>
    </article>
    <div class="mat-elevation-z8 mb-4">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="matricula">
                <th mat-header-cell *matHeaderCellDef> Matricula </th>
                <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="lengua">
                <th mat-header-cell *matHeaderCellDef> Lengua Española </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.lengua)">{{element.lengua}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="matematica">
                <th mat-header-cell *matHeaderCellDef> Matematicas </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.matematica)">{{element.matematica}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="sociales">
                <th mat-header-cell *matHeaderCellDef> Ciencias Sociales </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.sociales)">{{element.sociales}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="naturales">
                <th mat-header-cell *matHeaderCellDef> Ciencias Naturales </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.naturales)">{{element.naturales}}</span>
                </td>
            </ng-container>

            <!-- Accion Column -->
            <!-- <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                    <button mat-icon-button color="amber" aria-label="Example icon button with a home icon">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</section>