<app-header></app-header>

<section class="container">
    <article class="d-flex justify-content-between mt-4 mb-4">
        <article class="d-flex justify-content-start align-items-center perfil-info mt-4">
            <img src="../../../../assets/avatar.jpg" alt="imagen del maestro" class="avatar-m">
            <div>
                <h3 class="m-0">{{estudiante.nombre}} {{estudiante.apellido}}</h3>
                <p>{{estudiante.matricula}}</p>
            </div>
        </article>
        <article class="d-flex justify-content-start align-items-center container-cards">
            <mat-card class="card-m">
                <mat-card-content>
                    <div>
                        <!-- <h2 class="m-0">{{calculoGeneral(98,99,79,88)}}</h2> -->
                        <!-- <h2 class="m-0">{{calculoGeneral()}}</h2> -->
                        <h2 class="m-0">A</h2>
                    </div>
                    <h4 class="m-0">
                        Estado General
                    </h4>
                </mat-card-content>
            </mat-card>
            <mat-card class="card-m">
                <mat-card-content>
                    <div class="row-card">
                        <mat-icon fontIcon="alternate_email"></mat-icon>
                        <p>{{estudiante.correo}}</p>
                    </div>
                    <div class="row-card">
                        <mat-icon fontIcon="phone"></mat-icon>
                        <p>{{estudiante.telefono}}</p>
                    </div>
                    <h4 class="m-0">
                        Contacto
                    </h4>
                </mat-card-content>
            </mat-card>
        </article>
    </article>
    <article class="mb-4" *ngIf="hasData">
        <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="MATERIA_DATA_GRAFICA"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
    </article>
    <div class="mat-elevation-z8 mb-4" *ngIf="hasData">
        <table mat-table [dataSource]="dataSource">

            <!-- Asignatura Column -->
            <ng-container matColumnDef="asignatura">
                <th mat-header-cell *matHeaderCellDef> Asignatura </th>
                <td mat-cell *matCellDef="let element"> {{element.asignatura}} </td>
            </ng-container>

            <!-- Calificacion Column -->
            <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef> Calificacion </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.calificacion)">
                        {{element.calificacion}}
                    </span>
                </td>
            </ng-container>

            <!-- Calificacion Column -->
            <ng-container matColumnDef="literal">
                <th mat-header-cell *matHeaderCellDef> Literal </th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="colorDinamico(element.calificacion)">
                        {{calculoLiteral(element.calificacion)}}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>