<nav class="navbar navbar-expand-xxxl bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="header">
            <div>
                <p class="fw-medium">{{mostrarSaludo(hora)}}, Maestro Pedro!</p>
                <small>Bienvenido!</small>
            </div>
            <div>
                <img src="../../../../assets/avatar.jpg" alt="imagen del maestro" class="avatar">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/inicio">Estudiantes</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/calificacion">Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/asistencia">Asistencias</a>
                </li>
            </ul>
        </div>
    </div>
</nav>