/* GENERAL */

:root {
    /** COLOR PALETTE **/
    --backgroung: #FFFFFF;
    --black: #000000;
    --yellow: rgba(253, 216, 93, 1);
    --yellow-light: rgba(253, 216, 93, 0.5);
    --red: rgba(241, 75, 61, 1);
    --red-light: rgba(241, 75, 61, 0.5);
    --green: rgba(96, 211, 148, 1);
    --green-light: rgba(96, 211, 148, 0.5);
    --indig: rgba(63, 81, 181, 0.8);
    --indig-light: rgba(63, 81, 181, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fw-medium {
    font-weight: 500;
}

a {
    text-decoration: none;
}

hr{
    color: var(--black);
}

html {
    font-size: 100%;
}/*16px*/

body {
    background: var(--backgroung);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--black);
}

p {
    margin-bottom: 0.1rem;
}

h1,h2,h3,h4,h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

.estado-green{
    border: 2.2px solid var(--green);
    background-color: var(--green-light);
    border-radius: 8px;
    padding: 4px 8px;
}

.estado-yellow{
    border: 2.2px solid var(--yellow);
    background-color: var(--yellow-light);
    border-radius: 8px;
    padding: 4px 8px;
}

.estado-red{
    border: 2.2px solid var(--red);
    background-color: var(--red-light);
    border-radius: 8px;
    padding: 4px 8px;
}

.estado-indig{
    border: 2.2px solid var(--indig);
    background-color: var(--indig-light);
    border-radius: 8px;
    padding: 4px 8px;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
