<app-header></app-header>

<section class="container">
    <h2>Calificaciones</h2>
    <article class="d-flex justify-content-between align-items-center">
        <mat-form-field appearance="outline">
            <mat-label>Buscar Estudiante</mat-label>
            <input matInput placeholder="Ej: Samuel" [(ngModel)]="campoFiltro" (keyup)="filtrado()">
            <mat-icon matSuffix>search</mat-icon>
            <!-- <mat-hint>Ej: Samuel</mat-hint> -->
        </mat-form-field>
        <div class="gap">
            <button mat-stroked-button color="primary">Exportar</button>
            <button mat-raised-button color="primary">Guardar</button>
        </div>
    </article>
    <div class="mat-elevation-z8 mb-4">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="matricula">
                <th mat-header-cell *matHeaderCellDef> Matricula </th>
                <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="lengua">
                <th mat-header-cell *matHeaderCellDef> Lengua Española </th>
                <td mat-cell *matCellDef="let element">
                    <span class="estado-gris" *ngIf="!element.calificacionDTO[0] else elseSpan">N/</span>
                    <ng-template #elseSpan>
                        <span [ngClass]="colorDinamico(element.calificacionDTO[0].lenguaEspanola)">
                            {{element.calificacionDTO[0].lenguaEspanola}}
                        </span>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="matematica">
                <th mat-header-cell *matHeaderCellDef> Matematicas </th>
                <td mat-cell *matCellDef="let element">
                    <span class="estado-gris" *ngIf="!element.calificacionDTO[0] else elseSpan">N/</span>
                    <ng-template #elseSpan>
                        <span [ngClass]="colorDinamico(element.calificacionDTO[0].matematicas)">
                            {{element.calificacionDTO[0].matematicas}}
                        </span>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="sociales">
                <th mat-header-cell *matHeaderCellDef> Ciencias Sociales </th>
                <td mat-cell *matCellDef="let element">
                    <span class="estado-gris" *ngIf="!element.calificacionDTO[0] else elseSpan">N/</span>
                    <ng-template #elseSpan>
                        <span [ngClass]="colorDinamico(element.calificacionDTO[0].cienciasSociales)">
                            {{element.calificacionDTO[0].cienciasSociales}}
                        </span>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="naturales">
                <th mat-header-cell *matHeaderCellDef> Ciencias Naturales </th>
                <td mat-cell *matCellDef="let element">
                    <span class="estado-gris" *ngIf="!element.calificacionDTO[0] else elseSpan">N/</span>
                    <ng-template #elseSpan>
                        <span [ngClass]="colorDinamico(element.calificacionDTO[0].cienciasNaturales)">
                            {{element.calificacionDTO[0].cienciasNaturales}}
                        </span>
                    </ng-template>
                </td>
            </ng-container>

            <!-- Accion Column -->
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef> Calificar </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="calificar(element.id)" *ngIf="!element.calificacionDTO[0] else elseButton"
                        mat-icon-button color="primary" aria-label="Example icon button with a note icon">
                        <mat-icon>note_add</mat-icon>
                    </button>
                    <ng-template #elseButton>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a done icon">
                            <mat-icon>done</mat-icon>
                        </button>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</section>