<app-header></app-header>

<section class="container">
    <h2>Agregar Estudiante</h2>
    <form class="d-flex flex-column" [formGroup]="formEstudiante" (ngSubmit)="onSubmit(formEstudiante.value)">
        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-4">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ej: Manuel" formControlName="nombre">
                <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-sm-4">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Ej: Germosen" formControlName="apellido">
                <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-sm-4">
                <mat-label>Cedula</mat-label>
                <input matInput placeholder="Ej: 402-1234567-8" formControlName="cedula">
                <mat-icon matSuffix>credit_card</mat-icon>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" class="col-sm-6">
                <mat-label>Telefono</mat-label>
                <input matInput placeholder="Ej: (809) 123-4567" formControlName="telefono">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-sm-6">
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="elian@gmail.com" formControlName="correo">
                <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
        </div>
        <div class="gap justify-content-end">
            <button mat-button color="primary" type="reset">Limpiar</button>
            <button mat-stroked-button color="warn" (click)="irInicio()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="formEstudiante.invalid">Guardar</button>
        </div>
    </form>
</section>